#title1 {margin-left: 300px; }
#auth_status {margin-left: 300px; }
#username {margin-left: 300px; }
#password {margin-left: 300px; }
#login1 {margin-left: 300px; }
#login {margin-left: 300px; class : "btn btn-primary ";background: #f7ecb5}
#sign_up {margin-left: 300px; }
#welcome {margin-left: 300px; }
#suUser {margin-left: 300px; }
#suPass {margin-left: 300px; }
#SignUp {margin-left: 300px; class : "btn btn-primary";background: #2c4c4c}
#Authinfo {margin-left: 300px; }
#logout {margin-left: 300px; }
#special {margin-left: 300px; }



